<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="card m-4 p-4 col-lg-5 col-md-6 col-12">
            <form class="row g-3" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" ngModel name="email" email required>
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" ngModel name="password" required
                        minlength="6">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>